#menu {
	border: 1px solid #aaa;
	width: 40px;
	padding: 5px;
	.menuBar {
		width: 40px;
		height: 5px;
		background: #000;
		transition: all 1s;
		&:not(:last-of-type) {
			margin-bottom: 6px;
		}
	}
}

#menu.close {
	.topBar {
		transform: rotate(-45deg) translateX(-8px) translateY(6px);
	}
	.middleBar {
		opacity: 0;
	}
	.bottomBar {
		transform: rotate(45deg) translateX(-9px) translateY(-6px);
	}
}



