/* base style */
ul {
	width: 90px;
	background-color: #555;
	padding: 0;
}

li {
	height: 100%;
	display: block;
	width: 100%;
	background: #555;
	color: #fff;
	text-align: center;
	list-style: none;
}






